<div class="addressInfo">
  <div>
    <label for="">Line1</label>
    <input type="text">
  </div>
  <div>
    <label for="">Line2</label>
    <input type="text">
  </div>
  <div>
    <label for="">Line3</label>
    <input type="text">
  </div>
  <div>
    <label for="">Line4</label>
    <input type="text">
  </div>

  <div>
    <label for="">City</label>
    <input type="text">
  </div>
  <div>
    <label for="">State</label>
    <input type="text">
  </div>
  <div>
    <label for="">Postal Code</label>
    <input type="text">
  </div>
  <div>
    <label for="">Country</label>
    <input type="text">
  </div>

</div>