<div class="addressInfo">
  <div class="wrapper">
    <mat-form-field class="wrapper__left">
      <input matInput placeholder="Line1">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Line2">
    </mat-form-field>
  </div>
  <div class="wrapper">
    <mat-form-field class="wrapper__left">
      <input matInput placeholder="Line3">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Line4">
    </mat-form-field>
  </div>
  <div class="wrapper">
    <mat-form-field class="wrapper__left">
      <input matInput placeholder="City">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="State">
    </mat-form-field>
  </div>
  <div class="wrapper">
    <mat-form-field class="wrapper__left">
      <input matInput placeholder="Postal Code">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Country">
    </mat-form-field>
  </div>
</div>