<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Select Question</h4>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit()" [formGroup]="questionnaireForm">
      <div class="form-group">
        <label for="">MasterQuestion Type: </label>
        <div class="input-group">
          <select formControlName="masterQuestion" [ngClass]="{ 'required': formSubmitted && f.masterQuestion.errors }">
            <option value="yesNo">Yes/No</option>
            <option value="addressInfo">Address Info</option>
          </select>
        </div>

        <div class="configuration">
          <div>
            <label>Code: </label>
            <div class="input-group">
              <input type="text" formControlName="questionCode" [ngClass]="{ 'required': formSubmitted && f.questionCode.errors }">
            </div>
          </div>
          <div *ngIf="(validQuestionCode$ | async); else codeExists"></div>
          <ng-template #codeExists>Question code already exists!</ng-template>
          <div>
            <label>Description: </label>
            <div class="input-group">
              <input type="text" formControlName="questionDescription" [ngClass]="{ 'required': formSubmitted && f.questionDescription.errors }">
            </div>
          </div>
          <div>
            <label>Visibility rule: </label>
            <div class="input-group">
              <input type="textarea" formControlName="visibilityRule">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark">Save</button>
      </div>
    </form>
  </div>
</ng-template>

<button (click)="open(content)" class="btn-primary">Add Question</button>

<div *ngIf="formData$ | async as formData">
  <div *ngFor="let form of formData">
    <app-component-wrapper [form]="form"></app-component-wrapper>
  </div>
</div>